.auth {
  background-color: var(--color-primary-400);
  border: none;
  color: black !important;
  cursor: pointer;
  font-size: medium;
  padding: 0.5rem 1rem;
  border-radius: 24px;
}

.auth:hover {
  background-color: var(--color-primary-800);
}

.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}
